#jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
}

.portas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.botoes {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botoes button {
  background-color: #c0392c;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  margin-bottom: 20px;
}